<!DOCTYPE html>
<html>
<head lang="en">

    <title>Spring</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="header :: header"></th:block> /*/-->

</div>
<hr/>
<footer class="footer text-center">
    <div class="container">
        <p>Projekt &copy; Paweł Baluk</p>
    </div>
</footer>
</body>
</html>